.category-slider {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}

.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}

.slider-track.smooth {
  transition: transform 0.5s ease;
}

.card {
   min-width: 22%;
  background: #111;
  color: white;
  margin: 0 10px;
  padding: 20px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

.card:hover{
  transform: translateY(-2px);
}

.card h3 {
  margin-bottom: 8px;
  color: var(--text-color);
}

.card p {
  color: var(--text-color);
  opacity: 0.8;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  border: 1px solid var(--accent);
  color: var(--accent);
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

.icon {
  margin-bottom: 10px;
}

.read-more:hover {
  background: var(--accent);
  color: white;
}

.nav-btn {
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #222;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  color: white;
}

.nav-btn.left {
  left: 10px;
}

.nav-btn.right {
  right: 10px;
}

.nav-btn:hover {
  background: #333;
}

/* Mobile View Fix */
@media (max-width: 768px) {
  .card {
    min-width: 100% !important;
    margin: 0 5px;
  }

  .slider-track {
    padding-left: 5px;
  }
}
